In [2]:
import pandas as pd
import numpy as np

In [3]:
colors = pd.read_csv('./dataset/colors.csv')
colors.head(5)

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [53]:
colors.describe()

                id    is_trans
count   135.000000  135.000000
mean    253.037037    0.207407
std     878.441466    0.406960
min      -1.000000    0.000000
25%      34.500000    0.000000
50%      85.000000    0.000000
75%     231.000000    0.000000
max    9999.000000    1.000000

In [22]:
colors.shape

(135, 4)

In [20]:
colors['is_trans'].unique()

array(['f', 't'], dtype=object)

In [24]:
colors['is_trans'].value_counts()

is_trans
f    107
t     28
Name: count, dtype: int64

In [50]:
colors['is_trans'] = colors['is_trans'].map({'f':0,'t':1})
colors.head(5)

   id            name     rgb  is_trans
0  -1         Unknown  0033B2         0
1   0           Black  05131D         0
2   1            Blue  0055BF         0
3   2           Green  237841         0
4   3  Dark Turquoise  008F9B         0

In [52]:
colors['is_trans'].value_counts()

is_trans
0    107
1     28
Name: count, dtype: int64

In [46]:
inventoryParts = pd.read_csv('./dataset/archive/inventory_parts.csv')
inventoryParts.head(5)

   inventory_id     part_num  color_id  quantity is_spare
0             1     48379c01        72         1        f
1             1        48395         7         1        f
2             1     mcsport6        25         1        f
3             1       paddle         0         1        f
4             3  11816pr0005        78         1        f

In [55]:
inventoryParts['quantity'].describe()

count    580251.000000
mean          3.324730
std           8.229816
min           1.000000
25%           1.000000
50%           2.000000
75%           4.000000
max        1440.000000
Name: quantity, dtype: float64

In [56]:
inventoryParts['is_spare'] = inventoryParts['is_spare'].map({'f':0,'t':1})

In [57]:
inventoryParts.head(5)

   inventory_id     part_num  color_id  quantity  is_spare
0             1     48379c01        72         1         0
1             1        48395         7         1         0
2             1     mcsport6        25         1         0
3             1       paddle         0         1         0
4             3  11816pr0005        78         1         0

In [59]:
inventoryParts['is_spare'].value_counts()

is_spare
0    550756
1     29495
Name: count, dtype: int64